body, form {
    margin: 0;
    padding: 0;
    background-color: black;
    color: cyan;
    font-family: 'News Cycle', sans-serif;
    display: grid;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: cyan;
}
 