body {
    background-color: black;
    color: cyan;
    font-family: 'News Cycle', sans-serif;
    display: grid;
    font-size: 28px;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin: 10px;
}

a:hover {
    color: #ffe81f;
}

footer {
    font-size: 16px;
    color: #ffe81f;
    margin: 3px;
    padding: 3px;
}

img {
    width: 175px;
    height: 200px;
    padding: 5px;
    border: solid;
    border-color: white;
    border-width: 1px;
    margin: 10px;
}

p {
    font-size: 17px;
    color: white;
    padding: 3px;
    margin: 10px;
}

h1, h2 {
    font-size: 28px;
    color: cyan;
    margin: 10px;
    padding: 3px;
}

h3 {
    font-size: 21px;
    color: #ffe81f;
    margin: 10px;
}
 