
.item1 { 
  grid-area: header;
  background-color: black;
  color: cyan;
  font-size: 48px;
  padding: 10px;
  text-align: center;
  max-height: 200px;
  max-width: 100%;
}

.item2 { 
  grid-area: menu;
  background-color: black;
  color: #ffe81f; 
  text-align: center;
}

.item3 { 
  grid-area: main; 
  background-color: black;
  color: cyan;
  max-height: 200px;
  max-width: 500px;
  border-style: solid, 3px;
  padding: 20px;
  text-align: center;
  display: inline;
  
}

.item4 { grid-area: right; }
.item5 { 
  grid-area: footer;
  background-color: black;
  color: cyan;
  font-size: 28px;
  padding: 10px; 
  text-align: center;

}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header header header'
    'menu main main main main main main main'
    'footer footer footer footer footer footer footer footer';
  grid-gap: 2px;
  background-color: black;
  padding: 10px;
}
  