<!DOCTYPE html>
  <head>
    <title>About Us</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
  <body>
    <main>
      <h1>About Us</h1>
      <img src="Images/jen.jpg"/>
      <h2>Jen Jones</h2>
      <p>My name is Jen Jones, I am a full stack software developer with a background in marketing. I really enjoy working with servers and databases, and I love leading teams. I am looking for a role as a software developer in a organization serving diverse audiences (such as fintech or energy), where I can continue to develop my coding skills, learn new languages, and gain more experience.</p>
    <h2>Jen Jones</h2>
    <p>A self motivated person on learning the skills, tips and tricks of web development.  Utilizing my personal work experiences working for companies like, IBM, Wells Fargo, Transamerica, Wolter's Kluwer and Alliant Energy.
      I have been able to implement new workflows using technology to help people more efficient. The value of providing great customer service in solving the clients needs.  A team lead on creating a new revenue stream with new style of creating software development to clients based on their specific requirements.
      I am very driven and goal oriented person who has a strong background in accounting and software development in creating requirements for new software solutions to meet the business goals of the business. My accounting experience has been in budgeting and expense control measurements.  My software development was creating new functionality in the following softwares (Accounts Payable, General Ledger, Tax Form Creation, Annual Statement, Credit Card Dispute)</p>
      <img src="Images/drew.jpeg"/>
      <h3>Drew Scott</h3>
      <p>
        A self motivated person on learning the skills, tips and tricks of web development.  Utilizing my personal work experiences working for companies like, IBM, Wells Fargo, Transamerica, Wolter's Kluwer and Alliant Energy.
        I have been able to implement new workflows using technology to help people more efficient. The value of providing great customer service in solving the clients needs.  A team lead on creating a new revenue stream with new style of creating software development to clients based on their specific requirements.
        I am very driven and goal oriented person who has a strong background in accounting and software development in creating requirements for new software solutions to meet the business goals of the business. My accounting experience has been in budgeting and expense control measurements.  My software development was creating new functionality in the following softwares (Accounts Payable, General Ledger, Tax Form Creation, Annual Statement, Credit Card Dispute)
       </p>

      
    
    
    
    
    
    </main>
    
    
  </body>
</html>