<!DOCTYPE html>
  <head>
    <title>About Us</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('./layout/style-link') %>
  <%- include('./layout/nav') %>
    </head>
  <body>
    <main>
      <h1>About Us</h1>
      <img src="Images/jen.jpg"/>
      <h2>Jen Jones</h2>
      <p>My name is Jen Jones, I am a full stack software developer with a background in marketing. I really enjoy working with servers and databases, and I love leading teams. I am looking for a role as a software developer in a organization serving diverse audiences (such as fintech or energy), where I can continue to develop my coding skills, learn new languages, and gain more experience.</p>
      <img src="Images/mytown.jpg">
      <h3>Byron Keyes</h3>
      <p>Hello my name is Byron Keyes I come from working in call center environments. Most recently at Nationwide in the claims intake department. I have wanted to learn to code since it was described to me as having a super power. I found out about coding bootcamps in 2016 and I attended my first class at DeltaV and loved it. I have worked on many different teams with many different people and have always found a way to be a team player and have success.</p>
      <img src="Images/arik.jpeg">
      <h3>Arik Mackenburg </h3>
      <p>Before I began at DeltaV I worked in the automotive field and then at Quaker. I believe my prievious experience diagnosing problems in the automotive field will serve as a beneficial skill set to me in this field. I hope to eventually use the knowledge I acquire to work for myself.</p>
      <img src="Images/drew.jpeg"/>
      <h4>Drew Scott</h4>
      <p>
        A self motivated person on learning the skills, tips and tricks of web development.  Utilizing my personal work experiences working for companies like, IBM, Wells Fargo, Transamerica, Wolter's Kluwer and Alliant Energy.
        I have been able to implement new workflows using technology to help people more efficient. The value of providing great customer service in solving the clients needs.  A team lead on creating a new revenue stream with new style of creating software development to clients based on their specific requirements.
        I am very driven and goal oriented person who has a strong background in accounting and software development in creating requirements for new software solutions to meet the business goals of the business. My accounting experience has been in budgeting and expense control measurements.  My software development was creating new functionality in the following softwares (Accounts Payable, General Ledger, Tax Form Creation, Annual Statement, Credit Card Dispute)
       </p>

      
    
    
    
    
    
    </main>
    
    
  </body>
</html>