<!DOCTYPE html>
  <head>
    <title>About Us</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
  <body>
    <main>
      <h1>About Us</h1>
      <img src="Images/jen.jpg"/>
      <h2>Jen Jones</h2>
      <p>My name is Jen Jones, I am a full stack software developer with a background in marketing. I really enjoy working with servers and databases, and I love leading teams. I am looking for a role as a software developer in a organization serving diverse audiences (such as fintech or energy), where I can continue to develop my coding skills, learn new languages, and gain more experience.</p>
    </main>
    
    
  </body>
</html>