<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <link href="./layout/style-link.ejs"/>
=======
    <link href="./layout/style-link.ejs">
>>>>>>> c99c589e76fc78e0c632aee8030dfa947ba5e325
    <title>Star Wars Garage</title>
</head>
<body>
<header>
    <h1>Star Wars Garage</h1>
</header>
<main>
<section id="garage-container">

</section>
</main>
<footer>
    <h2>Copyright <%= new Date().getFullYear() %></h2>
</footer>
</body>
</html>