<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=News+Cycle&display=swap" rel="stylesheet">
  <title>Vehicle Search</title>
  <%- include('./layout/style-link') %>
</head>
<body>
  <section id="grid-container">
  <header>
    <div class="item1">
      <h1>Search for Star Wars Vehicles:</h1>
  </header>
    </div>
<main>
<%- include('./layout/nav') %>
  </div>
  <div class="item3"><main>
    <form action="/search" method="post">
      <input type="text" name="name" placeholder="Name" required><br>
      <button type="submit">Search Vehicles</button>
    </form>
  </div>
  <div class="item5"><br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/iXDnFYu91vY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  </main>
  <div class="item4"><footer>
    <%- include('./layout/footer') %>
  </footer></div>
  </div>
</body>
</html>