<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=News+Cycle&display=swap" rel="stylesheet">
  <title>Vehicle Search</title>
  <%- include('./layout/style-link') %>
</head>
<body>
  <div class="grid-container">
  <header><div class="item1">
    <h1>Search for Star Wars Vehicles:</h1>
  </div>
  </header>
  <div class="item2"><nav>
    <a href="">About Us</a>
    <a href="">Contact</a>
    <a href="">Admin Login</a>
  </nav>
  </div>
  <div class="item3"><main>
    <form action="/search" method="get">
      <input type="text" name="name" placeholder="Name" required><br>
      <button type="submit">Submit Vehicle Search</button>
    </form>
  </div>
  </main>
  <div class="item5"><footer>
    <%- include('./layout/footer') %>
  </footer></div>
  </div>
</body>
</html>