<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vechile Search</title>
</head>
<body>
  <header>
  </header>
  <main>
    <h1>Results</h1>
    <% vehicles.forEach( vehicle => { %>
      <h3><%=vehicle.name%></h3>
    <% }) %>
  </main>
  <footer>
  </footer>
  
</body>
</html>