<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./styles.css">
  <link rel="stylesheet" href="./styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Star Wars Vehicles</title>
  </head>
  <body>
    <header>
      <h1>Star Wars Vehicles Guide</h1>
    </header>
    <main>
      <section id="search-container">
      <div class="search"><h4>Search by Title or Author</h4>
      <form action="/searches" method="post">
        <input type="text" name="search" placeholder="Enter a vehicle name or model" required>
        <fieldset>
          <label for="name">
            <span>Title</span>
            <input type="radio" name="search" value="name" required>
          </label>
        </fieldset>
        <fieldset>
          <label for="model">
            <span>Author</span>
            <input type="radio" name="search" value="model" required>
          </label>
        </fieldset>
        <button type="submit">search vehicles</button>
      </form>
      </div>
      </section>
    </main>
  </body>
</html>